*{
    margin: 0;
    padding: 0;
}


header {
    background: url("../Image/desktop/image-header.jpg") no-repeat center/cover;
    height: 100vh;
    width: 100%;
    text-align: center;
    position: relative;
    color: white;
}


.nav_barr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 4%;
}

.nav_logo{
    display: flex;
    gap: 3vw;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.nav_logo a{
    text-decoration: none;
    color: white;
    align-items: center;
}

.nav_logo button{
    border-radius: 50px;
    border: none;
    background-color: rgba(255, 255, 255, 0.26);
    color: white;
    padding: 20px 25px;
    font-size: x-small;
    align-items: center;
    justify-content: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
}
.nav_logo button:hover{
    background-color: #c0e4f6c5;
}

header h1{
    font-family: "fraunces", serif;
    font-weight: 700;
    letter-spacing: 9px;
    /* text-transform: uppercase; */
    font-size: 55px;
    padding-top: 5%;
}
.nav_logo a:hover{
    color: #ffea00;
}

.text_nav img{
    padding-top: 9vh;
}

/* CLIENT */

.testimonials {
    text-align: center;
    padding: 90px 30px;
}

.testimonials h5 {
    letter-spacing: 4px;
    font-size: 14px;
    margin-bottom: 50px;
    color:#a7a9aa ;
}

.clients {
    display: flex;
    justify-content: space-around;
    padding-inline: 15vw;
    justify-content: space-between;
    color: #5e6064;
}


.client img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.client {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px;
}
.client h6{
    padding-top: 10vh;
    font-family: "fraunces", serif;
    font-size: medium;
    color: black;
}

.client span{
    font-family: Arial Narrow, sans-serif;
    color: #969594;
}

svg {
    display: none;
}







@media (max-width:400px){
    svg{
        display: initial;
    }
    header,section{
        display: none;
    }

    
}