*{
    margin: 0;
    padding: 0;
}


header {
    background: url("../Image/desktop/image-header.jpg") no-repeat center/cover;
    height: 100vh;
    width: 100%;
    text-align: center;
    position: relative;
    color: white;
}


.nav_barr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 4%;
}

.nav_logo{
    display: flex;
    gap: 3vw;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.nav_logo a{
    text-decoration: none;
    color: white;
    align-items: center;
}

.nav_logo button{
    border-radius: 50px;
    border: none;
    background-color: rgba(255, 255, 255, 0.26);
    color: white;
    padding: 20px 25px;
    font-size: x-small;
    align-items: center;
    justify-content: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
}
.nav_logo button:hover{
    background-color: #c0e4f6c5;
}

header h1{
    font-family: "fraunces", serif;
    font-weight: 700;
    letter-spacing: 9px;
    /* text-transform: uppercase; */
    font-size: 55px;
    padding-top: 5%;
}
.nav_logo a:hover{
    color: #ffea00;
}

.text_nav img{
    padding-top: 9vh;
}
.two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.two-col .text-box {
    direction: ltr;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 80%;
  
}

.two-col.reverse {
    direction: rtl;
}

.two-col.reverse .text-box {
    direction: ltr;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 80%;

}

.text-box {
    padding: 90px;
}

.text-box h3 {
    font-size: 28px;
    margin-bottom: 20px;
}
.learn {
    margin-top: 20px;
    display: inline-block;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 3px solid rgb(255, 255, 255);
}
.learn:hover {
    color: #000000;
    border-bottom: 3px solid #f6ff00;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.two-col.bottom {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.two-col.bottom .img-box1 {
    background: url("../Image/desktop/image-graphic-design.jpg");
    background-position: center;
    object-fit: cover;
    position: relative;
    text-align: center;
    padding-top: 350px;
    padding-bottom: 150px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
   
   
}
.two-col.bottom .img-box2 {
    background: url("../Image/desktop/image-photography.jpg");
    background-position: center;
    object-fit: cover;
    position: relative;
    text-align: center;
    padding-top: 350px;
    padding-bottom: 150px;
     width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
   
  
}
   
.two-col.bottom h4 {
    margin-top: 20px;
    font-size: 20px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer {
    background: #90d4c5;
    text-align: center;
    padding: 50px 20px;
}

.foot-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 20px 0;
}

.foot-links a {
    color: #2f5d5b;
    text-decoration: none;
}
.foot-links a:hover {
    text-decoration: underline;
    color: #f6ff00;

}

    .socials img {
        width: 20px;
        margin: 10px;
    }
.socials img:hover {
    filter: brightness(0.2);}





















/* CLIENT */

.testimonials {
    text-align: center;
    padding: 90px 30px;
}

.testimonials h5 {
    letter-spacing: 4px;
    font-size: 14px;
    margin-bottom: 50px;
    color:#a7a9aa ;
}

.clients {
    display: flex;
    justify-content: space-around;
    padding-inline: 15vw;
    justify-content: space-between;
    color: #5e6064;
}


.client img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.client {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px;
}
.client h6{
    padding-top: 10vh;
    font-family: "fraunces", serif;
    font-size: medium;
    color: black;
}

.client span{
    font-family: Arial Narrow, sans-serif;
    color: #969594;
}

svg {
    display: none;
}







@media (max-width:400px){
    svg{
        display: initial;
    }
    header,section{
        display: none;
    }

    
}