*{
    margin: 0;
    padding: 0;
}


header {
    background: url("../Image/desktop/image-header.jpg") no-repeat center/cover;
    height: 100vh;
    width: 100%;
    text-align: center;
    position: relative;
    color: white;
}


.nav_barr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 4%;
}

.nav_logo{
    display: flex;
    gap: 3vw;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.nav_logo a{
    text-decoration: none;
    color: white;
    align-items: center;
}

.nav_logo button{
    border-radius: 50px;
    border: none;
    background-color: rgba(255, 255, 255, 0.26);
    color: white;
    padding: 20px 25px;
    font-size: x-small;
    align-items: center;
    justify-content: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
}
.nav_logo button:hover{
    background-color: #c0e4f6c5;
}

header h1{
    font-family: "fraunces", serif;
    font-weight: 700;
    letter-spacing: 9px;
    text-transform: uppercase;
    font-size: 55px;
    padding-top: 5%;
}
.nav_logo a:hover{
    color: #ffea00;
}

.text_nav img{
    padding-top: 9vh;
}